### Modelo de Recomendación

Este modelo tiene como objetivo evaluar la efectividad del método TfidfVectorizer para la recomendación de películas.

El propósito principal es demostrar su capacidad para identificar y sugerir productos similares, facilitando así la búsqueda y selección de opciones relevantes para los usuarios.

In [42]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.neighbors import NearestNeighbors
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
import ast
import requests
import numpy as np

In [43]:
df = pd.read_csv(r'C:\Users\Carlo\Desktop\Proyectos\Data\TF-IDF Vectorizer\Dataset_peliculas2,0.csv')

In [44]:
df.columns

Index(['id', 'titulo', 'keywords', 'generos', 'rating', 'Idioma',
       'lenguaje_original', 'pais_de_creacion', 'overview', 'votos',
       'año_de_estreno', 'director', 'duracion'],
      dtype='object')

In [45]:
df.head()

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion
0,5,Four Rooms,"['hotel', ""new year's eve"", 'witch', 'bet', 's...",['Comedia'],5.830,en,en,United States of America,"Durante una Nochevieja, en un hotel de Los Áng...",2589,1995.0,Allison Anders,98.0
1,11,La guerra de las galaxias,"['empire', 'galaxy', 'rebellion', 'android', '...","['Aventura', 'Acción', 'Ciencia ficción']",8.203,es,en,United States of America,"La princesa Leia, líder del movimiento rebelde...",20248,1977.0,George Lucas,121.0
2,12,Buscando a Nemo,"['sydney, australia', 'parent child relationsh...","['Animación', 'Familia']",7.821,pt,en,United States of America,"Nemo, un pececillo, hijo único muy querido y p...",18921,2003.0,Andrew Stanton,100.0
3,13,Forrest Gump,"['vietnam war', 'vietnam veteran', 'mentally d...","['Comedia', 'Drama', 'Romance']",8.475,en,en,United States of America,Forrest Gump es un chico con deficiencias ment...,26915,1994.0,Robert Zemeckis,142.0
4,15,Ciudadano Kane,"['media tycoon', 'florida', 'art collector', '...","['Misterio', 'Drama']",8.009,es,en,United States of America,"Un importante financiero estadounidense, Charl...",5375,1941.0,Orson Welles,119.0

In [46]:
df['generos'] = df['generos'].apply(ast.literal_eval)
df['keywords'] = df['keywords'].apply(ast.literal_eval)

In [47]:
df['keywords'] = df['keywords'].apply(lambda x: ', '.join(x))
df['generos'] = df['generos'].apply(lambda x: ', '.join(x))

In [48]:
df['feature'] = (
    df['overview'].fillna('').astype(str) + 
    '' + df['director'].fillna('').astype(str) + 
    '' + df['generos'].fillna('').astype(str) +  
    '' + df['titulo'].fillna('').astype(str) 
)

#### Pruebas y Observaciones

Se llevaron a cabo pruebas incorporando la columna de keywords. Sin embargo, tras una inspección detallada, se observó que, en muchas películas, el contenido de esta columna carece de coherencia o relevancia, lo que podría influir negativamente en la precisión y efectividad de las recomendaciones generadas por el modelo.

#### Se ordenaron las películas según la cantidad de votos, lo que permitió seleccionar algunas de ellas para analizar y evaluar el comportamiento del modelo en términos de recomendación.

In [49]:
df.sort_values(by='votos', ascending=False).head(50)

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
35708,27205,Origen,"rescue, mission, dream, airplane, paris, franc...","Acción, Ciencia ficción, Aventura",8.368,de,en,United Kingdom,"Dom Cobb es un ladrón hábil, el mejor de todos...",36040,2010.0,Christopher Nolan,148.0,"Dom Cobb es un ladrón hábil, el mejor de todos..."
13706,157336,Interstellar,"rescue, future, spacecraft, race against time,...","Aventura, Drama, Ciencia ficción",8.436,de,en,United Kingdom,Narra las aventuras de un grupo de exploradore...,34780,2014.0,Christopher Nolan,169.0,Narra las aventuras de un grupo de exploradore...
77,155,El caballero oscuro,"joker, sadism, chaos, secret identity, crime f...","Drama, Acción, Crimen, Suspense",8.516,es,en,United Kingdom,Batman/Bruce Wayne regresa para continuar su g...,32247,2008.0,Christopher Nolan,152.0,Batman/Bruce Wayne regresa para continuar su g...
4459,19995,Avatar,"paraplegic, attachment to nature, culture clas...","Acción, Aventura, Fantasía, Ciencia ficción",7.582,en,en,United States of America,"Año 2154. Jake Sully, un exmarine en silla de ...",31083,2009.0,James Cameron,162.0,"Año 2154. Jake Sully, un exmarine en silla de ..."
5049,24428,Los Vengadores,"new york city, superhero, shield, based on com...","Ciencia ficción, Acción, Aventura",7.714,es,en,United States of America,Cuando un enemigo inesperado surge como una gr...,30286,2012.0,Joss Whedon,143.0,Cuando un enemigo inesperado surge como una gr...
17425,293660,Deadpool,"superhero, anti hero, mercenary, based on comi...","Acción, Aventura, Comedia",7.614,en,en,United States of America,Basado en el anti-héroe menos convencional de ...,30234,2016.0,Tim Miller,108.0,Basado en el anti-héroe menos convencional de ...
17640,299536,Vengadores: Infinity War,"sacrifice, magic, superhero, based on comic, s...","Aventura, Acción, Ciencia ficción",8.246,es,en,United States of America,El todopoderoso Thanos ha despertado con la pr...,29164,2018.0,Anthony Russo,149.0,El todopoderoso Thanos ha despertado con la pr...
262,550,El club de la lucha,"dual identity, rage and hate, based on novel o...",Drama,8.441,es,en,Germany,Un joven sin ilusiones lucha contra su insomni...,28843,1999.0,David Fincher,139.0,Un joven sin ilusiones lucha contra su insomni...
12464,118340,Guardianes de la galaxia,"spacecraft, based on comic, space, orphan, adv...","Acción, Ciencia ficción, Aventura",7.908,es,en,United States of America,El temerario aventurero Peter Quill es objeto ...,27640,2014.0,James Gunn,121.0,El temerario aventurero Peter Quill es objeto ...
335,680,Pulp Fiction,"drug dealer, boxer, massage, stolen money, bri...","Suspense, Crimen",8.488,en,en,United States of America,"Jules y Vincent, dos asesinos a sueldo con muy...",27409,1994.0,Quentin Tarantino,154.0,"Jules y Vincent, dos asesinos a sueldo con muy..."
3,13,Forrest Gump,"vietnam war, vietnam veteran, mentally disable...","Comedia, Drama, Romance",8.475,en,en,United States of America,Forrest Gump es un chico con deficiencias ment...,26915,1994.0,Robert Zemeckis,142.0,Forrest Gump es un chico con deficiencias ment...
328,671,Harry Potter y la piedra filosofal,"witch, school friend, friendship, london, engl...","Aventura, Fantasía",7.913,es,en,United Kingdom,Harry Potter es un huérfano que vive con sus d...,26836,2001.0,Chris Columbus,152.0,Harry Potter es un huérfano que vive con sus d...
33671,278,Cadena perpetua,"prison, friendship, police brutality, corrupti...","Drama, Crimen",8.705,sk,en,United States of America,"Acusado del asesinato de su mujer, Andrew Dufr...",26504,1994.0,Frank Darabont,142.0,"Acusado del asesinato de su mujer, Andrew Dufr..."
34894,1726,Iron Man,"middle east, superhero, arms dealer, malibu, b...","Acción, Ciencia ficción, Aventura",7.600,es,en,United States of America,El multimillonario fabricante de armas Tony St...,25956,2008.0,Jon Favreau,126.0,El multimillonario fabricante de armas Tony St...
9685,68718,Django desencadenado,"rescue, friendship, bounty hunter, texas, slav...","Drama, Western",8.180,es,en,United States of America,Dos años antes de estallar la Guerra Civil (18...,25800,2012.0,Quentin Tarantino,165.0,Dos años antes de estallar la Guerra Civil (18...
35437,603,Matrix,"man vs machine, martial arts, dream, artificia...","Acción, Ciencia ficción",8.218,en,en,United States of America,Thomas Anderson lleva una doble vida: por el d...,25203,1999.0,Lana Wachowski,136.0,Thomas Anderson lleva una doble vida: por el d...
17639,299534,Vengadores: Endgame,"superhero, time travel, space travel, time mac...","Aventura, Ciencia ficción, Acción",8.253,gl,en,United States of America,Después de los eventos devastadores de 'Vengad...,25125,2019.0,Anthony Russo,181.0,Después de los eventos devastadores de 'Vengad...
56,120,El señor de los anillos: La comunidad del anillo,"based on novel or book, orcs, elves, dwarf, ma...","Aventura, Fantasía, Acción",8.413,es,en,New Zealand,"En la Tierra Media, el Señor Oscuro Saurón cre...",24606,2001.0,Peter Jackson,179.0,"En la Tierra Media, el Señor Oscuro Saurón cre..."
58,122,El señor de los anillos: El retorno del rey,"army, based on novel or book, orcs, elves, dwa...","Aventura, Fantasía, Acción",8.481,es,en,New Zealand,"Las fuerzas de Saruman han sido destruidas, y ...",23661,2003.0,Peter Jackson,201.0,"Las fuerzas de Saruman han sido destruidas, y ..."
2505,11324,Shutter Island,"island, based on novel or book, hurricane, inv...","Drama, Suspense, Misterio",8.203,en,en,United States of America,Verano de 1954. Los agentes judiciales Teddy D...,23533,2010.0,Martin Scorsese,138.0,Verano de 1954. Los agentes judiciales Teddy D...
11950,106646,El lobo de Wall Street,"corruption, drug addiction, anti hero, con man...","Crimen, Drama, Comedia",8.035,es,en,United States of America,Película basada en hechos reales del corredor ...,23483,2013.0,Martin Scorsese,180.0,Película basada en hechos reales del corredor ...
11642,99861,Vengadores: La Era de Ultrón,"artificial intelligence (a.i.), superhero, bas...","Acción, Aventura, Ciencia ficción",7.273,gl,en,United States of America,Cuando Tony Stark intenta reactivar un program...,22613,2015.0,Joss Whedon,141.0,Cuando Tony Stark intenta reactivar un program...
16743,271110,Capitán América: Civil War,"superhero, based on comic, sequel, super soldi...","Aventura, Acción, Ciencia ficción",7.442,hu,en,United States of America,Continúa la historia de “Avengers: Age of Ultr...,22352,2016.0,Anthony Russo,147.0,Continúa la historia de “Avengers: Age of Ultr...
7918,49026,El caballero oscuro: La leyenda renace,"fight, burglar, hostage, secret identity, crim...","Acción, Crimen, Drama, Suspense",7.779,es,en,United States of America,"Hace ocho años que Batman desapareció, dejando...",22309,2012.0,Christopher Nolan,165.0,"Hace ocho años que Batman desapareció, dejando..."
10312,76341,Mad Max: Furia en la carretera,"rescue, future, australia, chase, dystopia, po...","Acción, Aventura, Ciencia ficción",7.602,es,en,Australia,"Perseguido por su turbulento pasado, Mad Max c...",22153,2015.0,George Miller,121.0,"Perseguido por su turbulento pasado, Mad Max c..."
33578,284054,Black Panther,"africa, superhero, based on comic, aftercredit...","Acción, Aventura, Ciencia ficción",7.385,en,en,United States of America,"Después de los acontecimientos de ""Capitán Amé...",21859,2018.0,Ryan Coogler,135.0,"Después de los acontecimientos de ""Capitán Amé..."
3933,16869,Malditos bastardos,"guerrilla warfare, swastika, paris, france, na...","Drama, Suspense, Bélica",8.219,lt,en,France,Segunda Guerra Mundial. Durante la ocupación d...,21851,2009.0,Quentin Tarantino,153.0,Segunda Guerra Mundial. Durante la ocupación d...
9686,68721,Iron Man 3,"california, war on terror, superhero, malibu, ...","Acción, Aventura, Ciencia ficción",6.928,es,en,United States of America,El descarado y brillante empresario Tony Stark...,21843,2013.0,Shane Black,130.0,El descarado y brillante empresario Tony Stark...
17085,284052,Doctor Strange,"magic, superhero, training, time, based on com...","Acción, Aventura, Fantasía",7.422,en,en,United States of America,La vida del famoso neurocirujano Stephen Stran...,21774,2016.0,Scott Derrickson,115.0,La vida del famoso neurocirujano Stephen Stran...
9784,70160,Los juegos del hambre,"based on novel or book, revolution, dystopia, ...","Ciencia ficción, Aventura, Fantasía",7.207,es,en,United States of America,"Lo que en el pasado fueron los Estados Unidos,...",21616,2012.0,Gary Ross,142.0,"Lo que en el pasado fueron los Estados Unidos,..."
329,672,Harry Potter y la cámara secreta,"witch, flying car, elves, magic, sword, diary,...","Aventura, Fantasía",7.721,es,en,United Kingdom,"Harry regresa a su segundo año a Hogwarts, per...",21520,2002.0,Chris Columbus,161.0,"Harry regresa a su segundo año a Hogwarts, per..."
18041,315635,Spider-Man: Homecoming,"high school, new york city, washington dc, usa...","Acción, Aventura, Ciencia ficción, Drama",7.338,en,en,United States of America,Peter Parker comienza a experimentar su recién...,21412,2017.0,Jon Watts,133.0,Peter Parker comienza a experimentar su recién...
57,121,El señor de los anillos: Las dos torres,"mission, army, based on novel or book, orcs, e...","Aventura, Fantasía, Acción",8.396,es,en,New Zealand,La Compañía del Anillo se ha disuelto. El port...,21387,2002.0,Peter Jackson,179.0,La Compañía del Anillo se ha disuelto. El port...
13570,150540,Del revés (Inside Out),"dream, san francisco, california, minnesota, s...","Animación, Familia, Aventura, Drama, Comedia",7.914,hu,en,United States of America,Riley es una chica que disfruta o padece toda ...,21298,2015.0,Pete Docter,95.0,Riley es una chica que disfruta o padece toda ...
17082,283995,Guardianes de la galaxia Vol. 2,"superhero, based on comic, sequel, misfit, spa...","Ciencia ficción, Aventura, Acción",7.621,es,en,United States of America,Continúan las aventuras del equipo en su trave...,21211,2017.0,James Gunn,137.0,Continúan las aventuras del equipo en su trave...
330,673,Harry Potter y el prisionero de Azkaban,"witch, school friend, friendship, flying, magi...","Aventura, Fantasía",8.018,es,en,United Kingdom,Harry está deseando que termine el verano para...,21123,2004.0,Alfonso Cuarón,141.0,Harry está deseando que termine el verano para...
642,1771,Capitán América: El primer vengador,"new york city, nazi, superhero, world war ii, ...","Acción, Aventura, Ciencia ficción",6.999,es,en,United States of America,"Nacido durante la Gran Depresión, Steve Rogers...",21073,2011.0,Joe Johnston,124.0,"Nacido durante la Gran Depresión, Steve Rogers..."
34453,297761,Escuadrón suicida,"secret mission, superhero, anti hero, villain,...","Acción, Aventura, Fantasía",5.914,es,en,United States of America,Mientras el gobierno de EE.UU no tiene claro c...,20808,2016.0,David Ayer,122.0,Mientras el gobierno de EE.UU no tiene claro c...
2092,10195,Thor,"new mexico, superhero, redemption, banishment,...","Aventura, Fantasía, Acción",6.768,en,en,United States of America,Thor es un arrogante y codicioso guerrero cuya...,20793,2011.0,Kenneth Branagh,115.0,Thor es un arrogante y codicioso guerrero cuya...
2063,10138,Iron Man 2,"technology, superhero, malibu, based on comic,...","Aventura, Acción, Ciencia ficción",6.840,es,en,United States of America,El mundo sabe que el multimillonario Tony Star...,20642,2010.0,Jon Favreau,124.0,El mundo sabe que el multimillonario Tony Star...
140,272,Batman Begins,"martial arts, undercover, loss of loved one, s...","Acción, Crimen, Drama",7.706,en,en,United Kingdom,¿Cómo cambia un hombre el mundo? Es una pregun...,20571,2005.0,Christopher Nolan,140.0,¿Cómo cambia un hombre el mundo? Es una pregun...
17086,284053,Thor: Ragnarok,"superhero, based on comic, sequel, alien plane...","Acción, Aventura, Ciencia ficción",7.593,en,en,United States of America,Thor está preso al otro lado del universo sin ...,20409,2017.0,Taika Waititi,131.0,Thor está preso al otro lado del universo sin ...
331,674,Harry Potter y el cáliz de fuego,"witch, dying and death, based on novel or book...","Aventura, Fantasía",7.816,es,en,United Kingdom,"En el cuarto año en Hogwarts, Harry se enfrent...",20278,2005.0,Mike Newell,157.0,"En el cuarto año en Hogwarts, Harry se enfrent..."
1,11,La guerra de las galaxias,"empire, galaxy, rebellion, android, hermit, sm...","Aventura, Acción, Ciencia ficción",8.203,es,en,United States of America,"La princesa Leia, líder del movimiento rebelde...",20248,1977.0,George Lucas,121.0,"La princesa Leia, líder del movimiento rebelde..."
8,22,Piratas del Caribe: La maldición de la Perla N...,"blacksmith, east india company, gold, exotic i...","Aventura, Fantasía, Acción",7.802,es,en,United States of America,El aventurero capitán Jack Sparrow recorre las...,20202,2003.0,Gore Verbinski,143.0,El aventurero capitán Jack Sparrow recorre las...
2797,12445,Harry Potter y las Reliquias de la Muerte - Pa...,"witch, dying and death, saving the world, self...","Fantasía, Aventura",8.098,es,en,United Kingdom,La segunda parte de la batalla final entre las...,20176,2011.0,David Yates,130.0,La segunda parte de la batalla final entre las...
34280,238,El padrino,"based on novel or book, loss of loved one, lov...","Drama, Crimen",8.694,es,en,United States of America,"Don Vito Corleone, conocido dentro de los círc...",20118,1972.0,Francis Ford Coppola,175.0,"Don Vito Corleone, conocido dentro de los círc..."
13127,135397,Jurassic World,"island, primal fear, escape, velociraptor, dna...","Acción, Aventura, Ciencia ficción, Suspense",6.688,en,en,United States of America,Veintidós años después de lo ocurrido en Juras...,20066,2015.0,Colin Trevorrow,124.0,Veintidós años después de lo ocurrido en Juras...
36776,14160,Up,"central and south america, age difference, vil...","Animación, Comedia, Familia, Aventura",7.959,en,en,United States of America,"Tras atar miles de globos a su casa, Carl Fred...",19857,2009.0,Pete Docter,96.0,"Tras atar miles de globos a su casa, Carl Fred..."
36902,297762,Wonder Woman,"island, hero, strong woman, world war i, empow...","Acción, Aventura, Fantasía",7.227,nl,en,United States of America,"Diana, princesa de las Amazonas, entrenada par...",19661,2017.0,Patty Jenkins,141.0,"Diana, princesa de las Amazonas, entrenada par..."

In [50]:
tfidf = TfidfVectorizer()
onehot = OneHotEncoder()

preprocessor = ColumnTransformer(
    transformers=[
        ('feature', tfidf, 'feature'),
    ]
)

pipeline = make_pipeline(preprocessor, NearestNeighbors(n_neighbors=10))
pipeline.fit(df)

def recommend(movie_id):
    if movie_id not in df['id'].values:
        raise ValueError(f"El ID de la película {movie_id} no se encuentra en el DataFrame.")
    
    movie_index = df.index[df['id'] == movie_id].tolist()[0]
    distances, indices = pipeline.named_steps['nearestneighbors'].kneighbors(
        pipeline.named_steps['columntransformer'].transform(df.iloc[movie_index:movie_index+1])
    )

    recommended_movies = df.iloc[indices[0]].sort_values(by= 'votos', ascending=False)
    
    recommended_movies = recommended_movies[recommended_movies['id'] != movie_id]
    
    return recommended_movies

## Harry Potter y la cámara secreta

In [51]:
recommendations = recommend(672)

recommendations

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
328,671,Harry Potter y la piedra filosofal,"witch, school friend, friendship, london, engl...","Aventura, Fantasía",7.913,es,en,United Kingdom,Harry Potter es un huérfano que vive con sus d...,26836,2001.0,Chris Columbus,152.0,Harry Potter es un huérfano que vive con sus d...
330,673,Harry Potter y el prisionero de Azkaban,"witch, school friend, friendship, flying, magi...","Aventura, Fantasía",8.018,es,en,United Kingdom,Harry está deseando que termine el verano para...,21123,2004.0,Alfonso Cuarón,141.0,Harry está deseando que termine el verano para...
331,674,Harry Potter y el cáliz de fuego,"witch, dying and death, based on novel or book...","Aventura, Fantasía",7.816,es,en,United Kingdom,"En el cuarto año en Hogwarts, Harry se enfrent...",20278,2005.0,Mike Newell,157.0,"En el cuarto año en Hogwarts, Harry se enfrent..."
2797,12445,Harry Potter y las Reliquias de la Muerte - Pa...,"witch, dying and death, saving the world, self...","Fantasía, Aventura",8.098,es,en,United Kingdom,La segunda parte de la batalla final entre las...,20176,2011.0,David Yates,130.0,La segunda parte de la batalla final entre las...
332,675,Harry Potter y la Orden del Fénix,"witch, dying and death, court, magic, prophecy...","Aventura, Fantasía",7.682,es,en,United Kingdom,Harry Potter regresa por quinto año a Hogwarts...,19086,2007.0,David Yates,138.0,Harry Potter regresa por quinto año a Hogwarts...
363,767,Harry Potter y el misterio del príncipe,"witch, dying and death, london, england, magic...","Aventura, Fantasía",7.700,es,en,United Kingdom,En medio de los desastres que azotan a Inglate...,19063,2009.0,David Yates,153.0,En medio de los desastres que azotan a Inglate...
2796,12444,Harry Potter y las Reliquias de la Muerte - Pa...,"witch, friendship, london, england, corruption...","Aventura, Fantasía",7.755,es,en,United Kingdom,Una tarea casi imposible cae sobre los hombros...,18703,2010.0,David Yates,146.0,Una tarea casi imposible cae sobre los hombros...
3199,13967,Miss Potter,"mountain lake, loss of loved one, biography, a...","Drama, Familia, Romance",6.601,en,en,United Kingdom,Beatrix Potter fue una mujer inteligente y car...,477,2006.0,Chris Noonan,92.0,Beatrix Potter fue una mujer inteligente y car...
24520,506600,Una foto antes de morir,,"Suspense, Terror",5.241,es,ru,Russia,Un grupo de amigos decide pasar un fin de sema...,54,2018.0,Anton Zenkovich,90.0,Un grupo de amigos decide pasar un fin de sema...

## La Guerra de las Galaxias de 1977

In [52]:
recommendations = recommend(11)

recommendations

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
13327,140607,Star Wars: El despertar de la fuerza,"android, spacecraft, space opera","Aventura, Acción, Ciencia ficción",7.281,es,en,United States of America,Treinta años después de la victoria de la Alia...,19069,2015.0,J.J. Abrams,136.0,Treinta años después de la victoria de la Alia...
673,1891,El imperio contraataca,"rebellion, android, spacecraft, asteroid, rebe...","Aventura, Acción, Ciencia ficción",8.390,es,en,United States of America,Tras un ataque sorpresa de las tropas imperial...,16634,1980.0,Irvin Kershner,124.0,Tras un ataque sorpresa de las tropas imperial...
674,1892,El retorno del Jedi,"spacecraft, sibling relationship, rebel, emper...","Aventura, Acción, Ciencia ficción",7.895,es,en,United States of America,Luke Skywalker y la princesa Leia deben viajar...,15390,1983.0,Richard Marquand,132.0,Luke Skywalker y la princesa Leia deben viajar...
675,1893,La guerra de las galaxias. Episodio I: La amen...,"galaxy, senate, taskmaster, prophecy, queen, a...","Aventura, Acción, Ciencia ficción",6.550,es,en,United States of America,La Federación de Comercio ha bloqueado el pequ...,14316,1999.0,George Lucas,136.0,La Federación de Comercio ha bloqueado el pequ...
677,1895,La guerra de las galaxias. Episodio III: La ve...,"showdown, lava, fight, politics, volcano, chos...","Aventura, Acción, Ciencia ficción",7.427,es,en,United States of America,"Último capítulo de la saga de Star Wars, en el...",13437,2005.0,George Lucas,140.0,"Último capítulo de la saga de Star Wars, en el..."
676,1894,La guerra de las galaxias. Episodio II: El ata...,"army, laser gun, senate, investigation, cult f...","Aventura, Acción, Ciencia ficción",6.562,es,en,United States of America,Corren tenebrosos tiempos para la República. É...,12968,2002.0,George Lucas,142.0,Corren tenebrosos tiempos para la República. É...
29507,724475,Ben 10 contra el Universo: La película,"extraterrestrial technology, alien, based on c...","Animación, Acción, Aventura, Ciencia ficción",7.500,ca,en,United States of America,"La historia de esta nueva cinta animada, narra...",119,2020.0,Henrique Jardim,70.0,"La historia de esta nueva cinta animada, narra..."
19639,362610,I Am Your Father,"movie business, interview, makeup, space opera...",Documental,6.600,en,es,Spain,"Tributo en honor a David Prowse, el hombre baj...",51,2015.0,Toni Bestard,83.0,"Tributo en honor a David Prowse, el hombre baj..."
26311,570871,La Ultima galaxia,"male friendship, space travel, alien planet, a...","Drama, Ciencia ficción",5.421,es,de,Germany,"Adem y Novak, dos jóvenes muy diferentes, esca...",20,2021.0,Marcel Barion,113.0,"Adem y Novak, dos jóvenes muy diferentes, esca..."

## El señor de los anillos: Las dos torres

In [53]:
recommendations = recommend(121)

recommendations

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
56,120,El señor de los anillos: La comunidad del anillo,"based on novel or book, orcs, elves, dwarf, ma...","Aventura, Fantasía, Acción",8.413,es,en,New Zealand,"En la Tierra Media, el Señor Oscuro Saurón cre...",24606,2001.0,Peter Jackson,179.0,"En la Tierra Media, el Señor Oscuro Saurón cre..."
58,122,El señor de los anillos: El retorno del rey,"army, based on novel or book, orcs, elves, dwa...","Aventura, Fantasía, Acción",8.481,es,en,New Zealand,"Las fuerzas de Saruman han sido destruidas, y ...",23661,2003.0,Peter Jackson,201.0,"Las fuerzas de Saruman han sido destruidas, y ..."
7921,49051,El hobbit: Un viaje inesperado,"based on novel or book, orcs, elves, dwarf, ma...","Aventura, Fantasía, Acción",7.354,es,en,New Zealand,"Precuela de la trilogía ""El Señor de los Anill...",18067,2012.0,Peter Jackson,169.0,"Precuela de la trilogía ""El Señor de los Anill..."
3444,14787,Tom y Jerry: el anillo mágico,magic ring,"Animación, Comedia, Familia, Fantasía",6.400,es,en,United States of America,Habiéndole encargado la custodia del anillo má...,243,2002.0,James T. Walker,62.0,Habiéndole encargado la custodia del anillo má...
3194,13957,Cerrando el círculo,"airplane, world war ii, bomber, love, soldier,...","Drama, Romance",6.100,es,en,Canada,En 1943 un soldado de artillería moribundo tra...,94,2007.0,Richard Attenborough,118.0,En 1943 un soldado de artillería moribundo tra...
23147,462677,Doraemon y la gran aventura en la Antártida,"time travel, antarctica","Animación, Aventura, Fantasía, Familia",6.494,es,ja,Japan,"Incapaz de soportar el calor del verano, Dorae...",88,2017.0,Atsushi Takahashi,101.0,"Incapaz de soportar el calor del verano, Dorae..."
29059,684476,¡Devuelve el anillo!,,"Comedia, Romance, Drama",7.600,es,he,Israel,Los novios llegan a su lujosa suite de luna de...,11,2020.0,Talya Lavie,90.0,Los novios llegan a su lujosa suite de luna de...
31508,850367,Tropical-Rouge! Pretty Cure: ¡La Princesa de l...,"superhero, snow, precure, supervillain, based ...","Animación, Fantasía, Acción, Comedia, Aventura...",7.100,es,ja,Japan,"Un día, las Pretty Cure de Tropical-Rouge reci...",5,2021.0,Junji Shimizu,70.0,"Un día, las Pretty Cure de Tropical-Rouge reci..."
32313,919345,Ring of Desire,"eroticism, sensuality, ring, lesbian kiss","Suspense, Terror",3.000,en,en,United States of America,Un antiguo anillo que otorga poder sobre quien...,2,2021.0,Ronnie Nanos,85.0,Un antiguo anillo que otorga poder sobre quien...

## Malditos Bastardos

In [54]:
recommendations = recommend(16869)

recommendations

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
1590,9075,El libro negro,"in love with enemy, world war ii, prosecution,...","Drama, Suspense, Bélica",7.470,es,nl,Belgium,Segunda Guerra Mundial (1939-1945). Tras la ej...,1111,2006.0,Paul Verhoeven,145.0,Segunda Guerra Mundial (1939-1945). Tras la ej...
16759,271674,Suite francesa,"based on novel or book, world war ii, prisoner...","Drama, Romance, Bélica",7.284,es,en,Belgium,"Año 1940, durante la ocupación alemana del ejé...",1084,2015.0,Saul Dibb,103.0,"Año 1940, durante la ocupación alemana del ejé..."
2240,10592,La guerra de Hart,"escape, black people, world war ii, prisoner o...","Drama, Bélica",6.400,es,en,United States of America,"Durante la Segunda Guerra Mundial, el teniente...",902,2002.0,Gregory Hoblit,125.0,"Durante la Segunda Guerra Mundial, el teniente..."
30756,799583,El Ministerio de la Guerra Sucia,"army, operation, based on novel or book, spy, ...","Acción, Bélica, Drama",7.277,es,en,United Kingdom,El ejército británico recluta a un pequeño gru...,452,2024.0,Guy Ritchie,120.0,El ejército británico recluta a un pequeño gru...
1353,8056,El tren de la vida,"nazi, concentration camp, holocaust (shoah), v...","Drama, Comedia, Bélica",7.346,es,fr,Belgium,"Durante la Segunda Guerra Mundial (1939-1945),...",267,1998.0,Radu Mihăileanu,103.0,"Durante la Segunda Guerra Mundial (1939-1945),..."
16650,268340,Las madres del Tercer Reich,"factory, suicide, world war ii, race politics,...","Drama, Bélica, Película de TV",7.333,es,fr,France,"Basado en el libro de Nina Barbier, Les Malgré...",39,2012.0,Denis Malleval,92.0,"Basado en el libro de Nina Barbier, Les Malgré..."
35308,848730,Los bastardos,,"Acción, Suspense, Crimen, Drama",6.500,es,es,Argentina,Una epopeya sobre una de las épocas más convul...,21,2023.0,Pablo Yotich,114.0,Una epopeya sobre una de las épocas más convul...
22118,433829,Star Raiders: The Adventures of Saber Raine,"mercenary, alien, outcast, creature, robot, ro...","Aventura, Ciencia ficción",3.658,en,en,United States of America,El aventurero estelar Saber Raine es contratad...,19,2017.0,Mark Steven Grove,83.0,El aventurero estelar Saber Raine es contratad...
20366,384316,La paz salvaje,"concentration camp prisoner, czechoslovakia, e...","Documental, Historia, Película de TV",7.400,es,en,United Kingdom,"En 1945, después del final de la Segunda Guerr...",9,2015.0,Peter Molloy,60.0,"En 1945, después del final de la Segunda Guerr..."

## Capitán América: Civil War

In [55]:
recommendations = recommend(271110)

recommendations

,id,titulo,keywords,generos,rating,Idioma,lenguaje_original,pais_de_creacion,overview,votos,año_de_estreno,director,duracion,feature
5049,24428,Los Vengadores,"new york city, superhero, shield, based on com...","Ciencia ficción, Acción, Aventura",7.714,es,en,United States of America,Cuando un enemigo inesperado surge como una gr...,30286,2012.0,Joss Whedon,143.0,Cuando un enemigo inesperado surge como una gr...
17640,299536,Vengadores: Infinity War,"sacrifice, magic, superhero, based on comic, s...","Aventura, Acción, Ciencia ficción",8.246,es,en,United States of America,El todopoderoso Thanos ha despertado con la pr...,29164,2018.0,Anthony Russo,149.0,El todopoderoso Thanos ha despertado con la pr...
17639,299534,Vengadores: Endgame,"superhero, time travel, space travel, time mac...","Aventura, Ciencia ficción, Acción",8.253,gl,en,United States of America,Después de los eventos devastadores de 'Vengad...,25125,2019.0,Anthony Russo,181.0,Después de los eventos devastadores de 'Vengad...
642,1771,Capitán América: El primer vengador,"new york city, nazi, superhero, world war ii, ...","Acción, Aventura, Ciencia ficción",6.999,es,en,United States of America,"Nacido durante la Gran Depresión, Steve Rogers...",21073,2011.0,Joe Johnston,124.0,"Nacido durante la Gran Depresión, Steve Rogers..."
11676,100402,Capitán América: El soldado de invierno,"washington dc, usa, superhero, shield, based o...","Acción, Aventura, Ciencia ficción",7.664,es,en,United States of America,"Capitán América, Viuda Negra y un nuevo aliado...",18442,2014.0,Anthony Russo,136.0,"Capitán América, Viuda Negra y un nuevo aliado..."
3397,14611,Ultimate Avengers 2: Rise of the Panther,"mask, africa, alien life-form, based on comic,...","Aventura, Animación, Acción, Ciencia ficción",6.800,en,en,United States of America,"Secuela de ""Ultimate Avengers"" lanzada directa...",284,2006.0,Dick Sebast,73.0,"Secuela de ""Ultimate Avengers"" lanzada directa..."
3398,14613,Nuevos Vengadores: Heroes del mañana,"based on comic, superhero team","Animación, Familia, Acción, Aventura, Ciencia ...",6.945,es,en,United States of America,Cada vez que las fuerzas del mal amenazaron a ...,260,2008.0,Jay Oliva,78.0,Cada vez que las fuerzas del mal amenazaron a ...
25474,538153,Los Nuevos Vengadores,,"Comedia, Fantasía, Acción",5.600,es,en,United States of America,Mientras intenta seguir siendo un buen esposo ...,24,2018.0,Jarret Tarnol,88.0,Mientras intenta seguir siendo un buen esposo ...
32221,912223,Los Vengadores Chiflados,"los vengadores, los vengadores chiflados, jepc...","Comedia, Acción, Aventura, Ciencia ficción",10.000,es,es,Mexico,Película de juguetes que parodia a los vengado...,1,2014.0,Jesús Zavala,65.0,Película de juguetes que parodia a los vengado...

### Primeras Conclusiones

El modelo muestra un nivel aceptable de funcionamiento, realizando recomendaciones con cierto grado de coherencia. Aunque es evidente que existen áreas de mejora, los resultados iniciales indican un desempeño prometedor.

### Procedemos a evaluar que parecido guarda este modelo y el oficial de TMDB

In [56]:
idx_pos = df.sort_values(by='votos', ascending=False).head(50)

In [57]:
idx_pos = idx_pos['id'].values

In [58]:
idx_pos.tolist()

[27205,
 157336,
 155,
 19995,
 24428,
 293660,
 299536,
 550,
 118340,
 680,
 13,
 671,
 278,
 1726,
 68718,
 603,
 299534,
 120,
 122,
 11324,
 106646,
 99861,
 271110,
 49026,
 76341,
 284054,
 16869,
 68721,
 284052,
 70160,
 672,
 315635,
 121,
 150540,
 283995,
 673,
 1771,
 297761,
 10195,
 10138,
 272,
 284053,
 674,
 11,
 22,
 12445,
 238,
 135397,
 14160,
 297762]

In [59]:
df_recomn = pd.DataFrame(columns=['id_inicial', 'id_recomendado'])

for movie_idx in idx_pos:
    try:
        if movie_idx not in df['id'].values:
            print(f"El ID de la película {movie_idx} no se encuentra en el DataFrame. Se omite este ID.")
            continue

        recommendations = recommend(movie_idx)
        
        recommended_ids = recommendations['id'].tolist() 
        
        df_tmp = pd.DataFrame({'id_inicial': [movie_idx], 'id_recomendado': [recommended_ids]})
        
        df_recomn = pd.concat([df_recomn, df_tmp], ignore_index=True)
    
    except ValueError as e:
        print(e)
        continue

df_recomn

   id_inicial                                     id_recomendado
0       27205  [577922, 9469, 470114, 192134, 1546, 305937, 5...
1      157336  [70981, 540247, 449575, 429101, 493522, 451349...
2         155  [49026, 272, 40662, 142061, 16234, 251519, 736...
3       19995  [76600, 10196, 681887, 728526, 183392, 243451,...
4       24428  [299534, 271110, 141052, 246655, 14613, 27460,...
5      293660  [383498, 8457, 567604, 9087, 31662, 565470, 77...
6      299536  [299534, 99861, 271110, 284054, 283995, 324857...
7         550  [463257, 1913, 2925, 800787, 12400, 682377, 44...
8      118340  [299536, 283995, 447365, 698, 168, 517096, 604...
9         680  [510388, 738231, 767896, 369054, 170178, 88118...
10         13  [239877, 342474, 244534, 381040, 49928, 428849...
11        671  [672, 673, 674, 12445, 675, 259316, 984, 6964,...
12        278  [6071, 14851, 471859, 530956, 38124, 58102, 49...
13       1726  [68721, 315635, 10138, 1830, 300681, 13647, 16...
14      68718  [87492, 13637, 22267, 16072, 73351, 211, 78577...
15        603  [604, 605, 624860, 1542, 331354, 195757, 69610...
16     299534  [24428, 299536, 271110, 284053, 429617, 14613,...
17        120  [122, 121, 49051, 14787, 13957, 462677, 684476...
18        122  [120, 121, 49051, 1892, 122917, 23452, 14763, ...
19      11324  [8358, 763788, 29556, 838594, 255254, 32857, 7...
20     106646  [540901, 184125, 792293, 48186, 13826, 27674, ...
21      99861  [68721, 315635, 10138, 30675, 14609, 14613, 39...
22     271110  [24428, 299536, 299534, 1771, 100402, 14611, 1...
23      49026  [155, 272, 123025, 142061, 251519, 736074, 216...
24      76341  [9659, 8810, 9355, 786892, 929590, 727097, 274...
25     284054  [299536, 100402, 505642, 14611, 227859, 333594...
26      16869  [9075, 271674, 10592, 799583, 8056, 268340, 84...
27      68721  [1726, 99861, 315635, 10138, 324857, 14613, 13...
28     284052  [453395, 9543, 8270, 2274, 14830, 9814, 481, 4...
29      70160  [101299, 131631, 131634, 695721, 1946, 244688,...
30        672  [671, 673, 674, 12445, 675, 767, 12444, 13967,...
31     315635  [10138, 634649, 1930, 429617, 324857, 558, 559...
32        121  [120, 122, 49051, 14787, 13957, 462677, 684476...
33     150540  [458594, 470610, 363480, 591889, 255824, 45578...
34     283995  [118340, 299537, 127585, 181808, 447365, 49163...
35        673  [671, 672, 674, 675, 767, 984, 6964, 647325, 3...
36       1771  [271110, 100402, 28, 14609, 14613, 284274, 952...
37     297761  [436969, 308531, 487242, 24351, 26103, 53514, ...
38      10195  [76338, 616037, 394355, 63686, 106631, 990593,...
39      10138  [1726, 68721, 315635, 14756, 39414, 13647, 230...
40        272  [155, 49026, 414, 14919, 251519, 69735, 177271...
41     284053  [1724, 616037, 30675, 394355, 230896, 106631, ...
42        674  [671, 672, 673, 12445, 675, 767, 12444, 984, 6...
43         11  [140607, 1891, 1892, 1893, 1895, 1894, 724475,...
44         22  [58, 285, 172385, 323272, 399747, 531836, 5016...
45      12445  [671, 674, 675, 767, 12444, 259316, 13967, 205...
46        238  [240, 242, 252838, 11975, 598065, 61899, 11787...
47     135397  [329, 351286, 330, 507086, 4407, 171222, 75427...
48      14160  [10201, 21862, 612515, 482325, 12486, 59569, 5...
49     297762  [141052, 791373, 464052, 345911, 15359, 110675...

In [60]:
API_KEY = '6e654f8882a28bd2b44888b6acef8373'
BASE_URL = 'https://api.themoviedb.org/3'

def get_recommendations(movie_id, api_key=API_KEY):
    url = f'{BASE_URL}/movie/{movie_id}/recommendations'
    params = {
        'api_key': api_key,
        'language': 'es-ES',
        'page': 1 
    }
    response = requests.get(url, params=params)
    data = response.json()
    recommendations = data.get('results', [])[:10] 
    return recommendations

def get_movie_recommendations(movie_ids, api_key=API_KEY):
    all_recommendations = {}
    for movie_id in movie_ids:
        try:
            recommendations = get_recommendations(movie_id, api_key)
            recommended_ids = [rec['id'] for rec in recommendations]
            all_recommendations[movie_id] = recommended_ids
        except Exception as e:
            print(f"Error obteniendo recomendaciones para la película {movie_id}: {e}")
    return all_recommendations

def recommendations_to_dataframe(recommendations):
    df_list = []
    for movie_id, recs in recommendations.items():
        df_list.append({
            'id_inicial': movie_id,
            'recomendaciones': recs 
        })
    
    df_recomn = pd.DataFrame(df_list)
    return df_recomn

recommendations = get_movie_recommendations(idx_pos)

df_recomn_2_tmdb = recommendations_to_dataframe(recommendations)

df_recomn_2_tmdb

    id_inicial                                    recomendaciones
0        27205  [11324, 155, 157336, 70160, 603, 68721, 19995,...
1       157336  [27205, 286217, 118340, 78, 210577, 206487, 15...
2          155  [49026, 272, 680, 122, 550, 27205, 1726, 13, 1...
3        19995  [24428, 68721, 27205, 76600, 49026, 70160, 377...
4        24428  [99861, 68721, 81005, 37724, 19995, 1771, 7016...
5       293660  [383498, 271110, 284052, 209112, 140607, 11834...
6       299536  [299534, 363088, 284054, 383498, 99861, 24428,...
7          550  [680, 807, 13, 59967, 603, 155, 510, 73, 2649,...
8       118340  [283995, 99861, 100402, 127585, 240832, 119450...
9          680  [13, 500, 16869, 550, 24, 68718, 122, 155, 278...
10          13  [497, 550, 122, 857, 769, 597, 637, 429, 197, ...
11         671  [672, 674, 767, 673, 675, 12444, 12445, 22, 12...
12         278  [238, 424, 240, 680, 155, 497, 13, 389, 274, 550]
13        1726  [10138, 1724, 68721, 1771, 562, 10195, 59967, ...
14       68718  [16869, 87827, 273248, 37724, 680, 68728, 2035...
15         603  [604, 605, 11452, 13, 14161, 120, 10528, 550, ...
16      299534  [299536, 429617, 299537, 447404, 287947, 99861...
17         120  [122, 121, 27205, 10195, 603, 1891, 68734, 172...
18         122  [121, 120, 49051, 562, 13, 429, 603, 82690, 36...
19       11324  [106646, 1422, 1124, 27205, 77, 807, 68718, 16...
20      106646  [242, 11324, 64682, 68718, 1422, 168672, 28195...
21       99861  [102899, 271110, 299536, 24428, 168259, 100402...
22      271110  [284052, 100402, 1771, 209112, 99861, 102899, ...
23       49026  [272, 155, 24428, 1771, 1930, 37724, 27205, 14...
24       76341  [99861, 135397, 286217, 9659, 264660, 158852, ...
25      284054  [299536, 284053, 363088, 383498, 315635, 33897...
26       16869  [24, 68718, 273248, 1991, 500, 393, 680, 17654...
27       68721  [76338, 10138, 24428, 54138, 75612, 37724, 701...
28      284052  [283995, 271110, 259316, 284053, 315635, 32986...
29       70160  [101299, 131631, 131634, 20352, 68718, 24428, ...
30         672  [673, 674, 671, 767, 675, 14869, 12444, 12445,...
31      315635  [429617, 284053, 283995, 297762, 559, 281338, ...
32         121  [122, 120, 672, 49051, 807, 1891, 14869, 272, ...
33      150540  [105864, 127380, 14160, 62211, 1022789, 211672...
34      283995  [315635, 118340, 284052, 297762, 263115, 33733...
35         673  [674, 675, 12444, 767, 12445, 672, 671, 36658,...
36        1771  [100402, 24428, 10195, 1726, 10138, 299537, 27...
37      297761  [209112, 188927, 324668, 246655, 271110, 43074...
38       10195  [76338, 1771, 1726, 284053, 10138, 24428, 7664...
39       10138  [68721, 10195, 1726, 1724, 1771, 1891, 9799, 4...
40         272  [155, 49026, 414, 209112, 364, 268, 1726, 857,...
41      284053  [284054, 76338, 141052, 315635, 299536, 10195,...
42         674  [675, 767, 673, 672, 12444, 12445, 671, 411, 1...
43          11  [1891, 1892, 13475, 140607, 1893, 181808, 122,...
44          22  [58, 285, 1865, 166426, 8373, 4133, 12, 162, 1...
45       12445  [12444, 674, 673, 675, 767, 672, 259316, 671, ...
46         238  [240, 424, 278, 242, 680, 111, 769, 429, 389, ...
47      135397  [351286, 76341, 329, 254128, 87101, 331, 15885...
48       14160  [10193, 10681, 1417, 12, 150540, 2062, 862, 10...
49      297762  [141052, 283995, 315635, 282035, 464052, 16642...

### Teniendo los dos dataframe, se puede calcular si ambos tienen la capacidad de recomendar peliculas similares

In [61]:
import pandas as pd

# Función para contar coincidencias entre dos listas
def count_common_elements(list1, list2):
    """Cuenta los elementos comunes entre dos listas."""
    if isinstance(list1, list) and isinstance(list2, list):
        # Desanidar las listas si es necesario
        list1 = [item for sublist in list1 for item in (sublist if isinstance(sublist, list) else [sublist])]
        list2 = [item for sublist in list2 for item in (sublist if isinstance(sublist, list) else [sublist])]
        set1 = set(list1)
        set2 = set(list2)
        return len(set1 & set2)
    return 0

# Agrupar `df_recomn` por `id_inicial` y combinar las recomendaciones en una lista
df_recomn_grouped = df_recomn.groupby('id_inicial')['id_recomendado'].apply(lambda x: [item for sublist in x for item in (sublist if isinstance(sublist, list) else [sublist])]).reset_index()

# Convertir `df_recomn_2_tmdb` para asegurar que las recomendaciones estén en formato lista
df_recomn_2_tmdb['recomendaciones'] = df_recomn_2_tmdb['recomendaciones'].apply(lambda x: [item for sublist in x for item in (sublist if isinstance(sublist, list) else [sublist])])

# Hacer merge de los dos DataFrames en base a `id_inicial`
merged_df = pd.merge(df_recomn_grouped, df_recomn_2_tmdb, on='id_inicial')

# Aplicar la función para contar coincidencias
merged_df['coincidencias'] = merged_df.apply(
    lambda row: count_common_elements(row['id_recomendado'], row['recomendaciones']), axis=1
)

# Mostrar el DataFrame con las coincidencias
merged_df

,id_inicial,id_recomendado,recomendaciones,coincidencias
0,11,"[140607, 1891, 1892, 1893, 1895, 1894, 724475,...","[1891, 1892, 13475, 140607, 1893, 181808, 122,...",5
1,13,"[239877, 342474, 244534, 381040, 49928, 428849...","[497, 550, 122, 857, 769, 597, 637, 429, 197, ...",0
2,22,"[58, 285, 172385, 323272, 399747, 531836, 5016...","[58, 285, 1865, 166426, 8373, 4133, 12, 162, 1...",2
3,120,"[122, 121, 49051, 14787, 13957, 462677, 684476...","[122, 121, 27205, 10195, 603, 1891, 68734, 172...",3
4,121,"[120, 122, 49051, 14787, 13957, 462677, 684476...","[122, 120, 672, 49051, 807, 1891, 14869, 272, ...",3
5,122,"[120, 121, 49051, 1892, 122917, 23452, 14763, ...","[121, 120, 49051, 562, 13, 429, 603, 82690, 36...",3
6,155,"[49026, 272, 40662, 142061, 16234, 251519, 736...","[49026, 272, 680, 122, 550, 27205, 1726, 13, 1...",2
7,238,"[240, 242, 252838, 11975, 598065, 61899, 11787...","[240, 424, 278, 242, 680, 111, 769, 429, 389, ...",2
8,272,"[155, 49026, 414, 14919, 251519, 69735, 177271...","[155, 49026, 414, 209112, 364, 268, 1726, 857,...",3
9,278,"[6071, 14851, 471859, 530956, 38124, 58102, 49...","[238, 424, 240, 680, 155, 497, 13, 389, 274, 550]",0
10,550,"[463257, 1913, 2925, 800787, 12400, 682377, 44...","[680, 807, 13, 59967, 603, 155, 510, 73, 2649,...",0
11,603,"[604, 605, 624860, 1542, 331354, 195757, 69610...","[604, 605, 11452, 13, 14161, 120, 10528, 550, ...",2
12,671,"[672, 673, 674, 12445, 675, 259316, 984, 6964,...","[672, 674, 767, 673, 675, 12444, 12445, 22, 12...",5
13,672,"[671, 673, 674, 12445, 675, 767, 12444, 13967,...","[673, 674, 671, 767, 675, 14869, 12444, 12445,...",7
14,673,"[671, 672, 674, 675, 767, 984, 6964, 647325, 3...","[674, 675, 12444, 767, 12445, 672, 671, 36658,...",5
15,674,"[671, 672, 673, 12445, 675, 767, 12444, 984, 6...","[675, 767, 673, 672, 12444, 12445, 671, 411, 1...",7
16,680,"[510388, 738231, 767896, 369054, 170178, 88118...","[13, 500, 16869, 550, 24, 68718, 122, 155, 278...",0
17,1726,"[68721, 315635, 10138, 1830, 300681, 13647, 16...","[10138, 1724, 68721, 1771, 562, 10195, 59967, ...",2
18,1771,"[271110, 100402, 28, 14609, 14613, 284274, 952...","[100402, 24428, 10195, 1726, 10138, 299537, 27...",2
19,10138,"[1726, 68721, 315635, 14756, 39414, 13647, 230...","[68721, 10195, 1726, 1724, 1771, 1891, 9799, 4...",2
20,10195,"[76338, 616037, 394355, 63686, 106631, 990593,...","[76338, 1771, 1726, 284053, 10138, 24428, 7664...",1
21,11324,"[8358, 763788, 29556, 838594, 255254, 32857, 7...","[106646, 1422, 1124, 27205, 77, 807, 68718, 16...",0
22,12445,"[671, 674, 675, 767, 12444, 259316, 13967, 205...","[12444, 674, 673, 675, 767, 672, 259316, 671, ...",6
23,14160,"[10201, 21862, 612515, 482325, 12486, 59569, 5...","[10193, 10681, 1417, 12, 150540, 2062, 862, 10...",0
24,16869,"[9075, 271674, 10592, 799583, 8056, 268340, 84...","[24, 68718, 273248, 1991, 500, 393, 680, 17654...",0
25,19995,"[76600, 10196, 681887, 728526, 183392, 243451,...","[24428, 68721, 27205, 76600, 49026, 70160, 377...",1
26,24428,"[299534, 271110, 141052, 246655, 14613, 27460,...","[99861, 68721, 81005, 37724, 19995, 1771, 7016...",0
27,27205,"[577922, 9469, 470114, 192134, 1546, 305937, 5...","[11324, 155, 157336, 70160, 603, 68721, 19995,...",0
28,49026,"[155, 272, 123025, 142061, 251519, 736074, 216...","[272, 155, 24428, 1771, 1930, 37724, 27205, 14...",2
29,68718,"[87492, 13637, 22267, 16072, 73351, 211, 78577...","[16869, 87827, 273248, 37724, 680, 68728, 2035...",0
30,68721,"[1726, 99861, 315635, 10138, 324857, 14613, 13...","[76338, 10138, 24428, 54138, 75612, 37724, 701...",1
31,70160,"[101299, 131631, 131634, 695721, 1946, 244688,...","[101299, 131631, 131634, 20352, 68718, 24428, ...",3
32,76341,"[9659, 8810, 9355, 786892, 929590, 727097, 274...","[99861, 135397, 286217, 9659, 264660, 158852, ...",2
33,99861,"[68721, 315635, 10138, 30675, 14609, 14613, 39...","[102899, 271110, 299536, 24428, 168259, 100402...",0
34,106646,"[540901, 184125, 792293, 48186, 13826, 27674, ...","[242, 11324, 64682, 68718, 1422, 168672, 28195...",0
35,118340,"[299536, 283995, 447365, 698, 168, 517096, 604...","[283995, 99861, 100402, 127585, 240832, 119450...",1
36,135397,"[329, 351286, 330, 507086, 4407, 171222, 75427...","[351286, 76341, 329, 254128, 87101, 331, 15885...",2
37,150540,"[458594, 470610, 363480, 591889, 255824, 45578...","[105864, 127380, 14160, 62211, 1022789, 211672...",0
38,157336,"[70981, 540247, 449575, 429101, 493522, 451349...","[27205, 286217, 118340, 78, 210577, 206487, 15...",0
39,271110,"[24428, 299536, 299534, 1771, 100402, 14611, 1...","[284052, 100402, 1771, 209112, 99861, 102899, ...",2
40,283995,"[118340, 299537, 127585, 181808, 447365, 49163...","[315635, 118340, 284052, 297762, 263115, 33733...",1
41,284052,"[453395, 9543, 8270, 2274, 14830, 9814, 481, 4...","[283995, 271110, 259316, 284053, 315635, 32986...",1
42,284053,"[1724, 616037, 30675, 394355, 230896, 106631, ...","[284054, 76338, 141052, 315635, 299536, 10195,...",0
43,284054,"[299536, 100402, 505642, 14611, 227859, 333594...","[299536, 284053, 363088, 383498, 315635, 33897...",1
44,293660,"[383498, 8457, 567604, 9087, 31662, 565470, 77...","[383498, 271110, 284052, 209112, 140607, 11834...",1
45,297761,"[436969, 308531, 487242, 24351, 26103, 53514, ...","[209112, 188927, 324668, 246655, 271110, 43074...",1
46,297762,"[141052, 791373, 464052, 345911, 15359, 110675...","[141052, 283995, 315635, 282035, 464052, 16642...",2
47,299534,"[24428, 299536, 271110, 284053, 429617, 14613,...","[299536, 429617, 299537, 447404, 287947, 99861...",3
48,299536,"[299534, 99861, 271110, 284054, 283995, 324857...","[299534, 363088, 284054, 383498, 99861, 24428,...",3
49,315635,"[10138, 634649, 1930, 429617, 324857, 558, 559...","[429617, 284053, 283995, 297762, 559, 281338, ...",3

In [62]:
merged_df['coincidencias'].sum()

np.int64(92)

### Comparativa con el Modelo de TMDB

En la comparación entre el modelo desarrollado y el motor de recomendación de TMDB, se encontraron 92 coincidencias entre las 500 recomendaciones generadas por ambos modelos. Sin embargo, tras una revisión preliminar del sistema de TMDB, se identificó un margen significativo de error en sus recomendaciones. A partir de la tercera sugerencia, el motor de TMDB tiende a desviarse notablemente en términos de género y sinopsis, lo que genera recomendaciones poco relevantes.

Este análisis pone de manifiesto que el motor de TMDB no puede considerarse una base confiable, dado que un porcentaje considerable de sus recomendaciones carece de sentido. Es importante señalar que esta evaluación se basó en búsquedas manuales, donde únicamente las primeras cinco recomendaciones mostraron un nivel aceptable de precisión.

### Comparativa con el Modelo de TMDB

En la comparación entre el modelo desarrollado y el motor de recomendación de TMDB, se encontraron 92 coincidencias entre las 500 recomendaciones generadas por ambos modelos. Sin embargo, tras una revisión preliminar del sistema de TMDB, se identificó un margen significativo de error en sus recomendaciones. A partir de la tercera sugerencia, el motor de TMDB tiende a desviarse notablemente en términos de género y sinopsis, lo que genera recomendaciones poco relevantes.

Este análisis pone de manifiesto que el motor de TMDB no puede considerarse una base confiable, dado que un porcentaje considerable de sus recomendaciones carece de sentido. Es importante señalar que esta evaluación se basó en búsquedas manuales, donde únicamente las primeras cinco recomendaciones mostraron un nivel aceptable de precisión.