In [ ]:
import pandas as pd
import time


#˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅˅ cambiar por translate_v2 EN CASO DE USAR PARA PRUEBAS!!!! para hacer los embeddings cuando tengamos ok de gastar, el v3. El v2 es para pruebas, gratis
from google.cloud import translate_v3 as translate
#˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄˄

In [3]:
translate_client = translate.TranslationServiceClient.from_service_account_json(
    '../../../bubbo-dfba0-920a59ed4344.json')

project_id = "bubbo-dfba0"  # ID del proyecto de Bubbo 
location = "global"

In [4]:
df = pd.read_csv(r'../../../final2.0.csv', sep=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274319 entries, 0 to 274318
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    274319 non-null  int64
 1   ID            274319 non-null  int64
 2   Genre         274319 non-null  object
 3   CleanTitle    274319 non-null  object
 4   Synopsis      274319 non-null  object
 5   Directors     274319 non-null  object
 6   Cast          274319 non-null  object
 7   Type          274319 non-null  object
 8   PlatformName  274319 non-null  object
dtypes: int64(2), object(7)
memory usage: 18.8+ MB

In [5]:
df_2 = df.head(50)

In [6]:
def translate_text(text, project_id, location, target_language_code):
    parent = f"projects/{project_id}/locations/{location}"
    response = translate_client.translate_text(
        request={
            "parent": parent,
            "contents": [text],
            "mime_type": "text/plain",
            "target_language_code": target_language_code,
        }
    )
    # Accede al primer elemento de la lista y luego a su atributo translated_text
    return response.translations[0].translated_text



def translate_df(df, columnas, project_id, location):
    aux_df = df.copy()
    parent = f"projects/{project_id}/locations/{location}"

    for col in columnas:
        if col in df.columns:
            aux_df[f'translated_{col}'] = df[col].apply(lambda x: translate_text(x, project_id, location, 'en') 
                                                        if isinstance(x, str) and 
                                                        translate_client.detect_language(request={"parent": parent, "content": x}).languages[0].language_code != 'en' 
                                                        else x)
    return aux_df

In [7]:
columnas_a_traducir = ['CleanTitle', 'Synopsis', 'Genres']
df_traducido = translate_df(df_2, columnas_a_traducir, project_id, location )

In [32]:
df_traducido.head()

,PlatformName,ExternalIds,CleanTitle,Deeplinks,Synopsis,Image,Genres,Cast,Crew,Directors,translated_CleanTitle,translated_Synopsis,translated_Genres
0,TMDB,11,La guerra de las galaxias,NaN,"La princesa Leia, líder del movimiento rebelde...",/ahT4ObS7XKedQkOSpGr1wQ97aKA.jpg,"['Aventura', 'Acción', 'Ciencia ficción']",NaN,NaN,NaN,Star Wars,"Princess Leia, leader of the rebel movement th...","['Adventure', 'Action', 'Science Fiction']"
1,TMDB,12,Buscando a Nemo,NaN,"Nemo, un pececillo, hijo único muy querido y p...",/jPhak722pNGxQIXSEfeWIUqBrO5.jpg,"['Animación', 'Familia']",NaN,NaN,NaN,Finding Nemo,"Nemo, a little fish, an only child much loved ...","['Animation', 'Family']"
2,TMDB,13,水曜どうでしょう,NaN,Sinopsis no disponible,/i2MwS6U0XzD8ad6aS3HiTNKz8ov.jpg,['Comedia'],NaN,NaN,NaN,What about Wednesday?,Synopsis not available,['Comedy']
3,TMDB,14,American Beauty,NaN,"Divertida, inquietante y sorprendente incursió...",/yx9JwYPVSEP1bFGpG3FeGPgOKoK.jpg,['Drama'],NaN,NaN,NaN,American Beauty,"A funny, disturbing and surprising foray into ...",['Drama']
4,TMDB,16,Bailar en la oscuridad,NaN,La película se desarrolla en Estados Unidos en...,/DibSnXZBioqf8NngFlrAlmzVs.jpg,"['Drama', 'Crimen']",NaN,NaN,NaN,Dancing in the dark,The film takes place in the United States in 1...,"['Drama', 'Crime']"